/* ========================================================
                        IMPORTS
==========================================================*/



/* ========================================================
                    GENERAL STYLINGS
==========================================================*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}

/* ========================================================
                    HEADER STYLINGS
==========================================================*/

header{
    background-color: rgba(0, 0, 0, 0.44);
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
}

p{
    line-height: 40px;
    color: white;
}

header nav ul{
    display: flex;
    column-gap: 20px;
}

main ul{
    background-color: rgba(165, 42, 42, 0.763);
    width: 250px;
    height: 350px;
    margin: 50px;
    padding: 20px;
}

main ul li a{
    font-size: 18px;
    transition: all 0.5s;
}

main ul li a:hover{
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: all 0.5s;
}

